
/* Your CSS Code here. */
.holder {
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.item {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}